<app-header></app-header>
<div class="container">
  <div class="section-intro"><h1>Xác nhận đơn hàng</h1></div>
  <div class="row confirmation-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Sản phẩm</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Đơn giá</th>
          <th scope="col">Tổng tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://cdn.tgdd.vn/Products/Images/42/305658/s16/iphone-15-pro-max-blue-thumbtz-650x650.png"
                alt="Iphone 15"
                class="product-image"
              />
              <span class="product-name">Iphone 15</span>
            </div>
          </td>
          <td>2</td>
          <td>100,000</td>
          <td>200,000</td>
        </tr>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://cdn.tgdd.vn/Products/Images/42/305658/s16/iphone-15-pro-max-blue-thumbtz-650x650.png"
                alt="Iphone 15"
                class="product-image"
              />
              <span class="product-name">Iphone 15</span>
            </div>
          </td>
          <td>2</td>
          <td>100,000</td>
          <td>200,000</td>
        </tr>
      </tbody>
    </table>
    <div class="text-start mt-3">
      <h4 class="header-text text-end">Tổng giá: 400.000 đ</h4>
    </div>

    <div class="text-center mt-3">
      <button class="btn btn-primary" type="button">Tiếp tục mua sắm</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
