<app-header></app-header>

<div class="container">
  <!-- SearchBox left, ComboBox right -->
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm sản phẩm"
    />
    <select class="form-control product-category" name="" id="">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Đồ điện tử</option>
      <option>Đồ gia dụng</option>
      <option>Bánh kẹo</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
