.section-intro {
  text-align: center;
  margin-top: 20px;
}
.confirmation-container {
  margin: 50px auto;
}

table {
  width: 100%;
  border-radius: 10px;
  border: none;
  border: 2px solid black;
  border-spacing: 0;
  background-color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-image {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  margin-right: 10px;
}
.product-name {
  margin-right: 10px;
}
