<style>
  .intro-section {
    text-align: center;
    color: #faf0e6;
  }
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .product-category {
    width: 200px;
  }
  .search-input {
    width: 300px;
    background-color: #b9b4c7;
    margin-right: 10px;
    border-color: #faf0e6;
    color: white;
  }
  .form-control {
    background-color: transparent;
    color: white;
  }
  .form-control::placeholder {
    opacity: 0.5;
    color: white;
  }
  .form-control:-ms-input-placeholder {
    opacity: 0.5;
    color: white;
  }
  .form-control::-ms-input-placeholder {
    opacity: 0.5;
    color: white;
  }
  .product-item {
    background-color: #b9b4c7;
    border: 1px solid #faf0e6;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .product-name {
    color: #352f44;
  }
  .product-description {
    color: #352f44;
  }
  .product-warranty {
    color: #352f44;
  }
  .product-price {
    color: #352f44;
  }
  .product-rating {
    color: #ffd700;
    margin-left: 10px;
  }
  .product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .space-x {
    margin: 0 5px;
  }
</style>
<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Day la trang home</h1>
    <p>Trang nay hien thi danh sach cac san pham kem anh</p>
    <p>Chon san pham va mua hang tai day</p>
  </div>
  <!-- SearchBox left, ComboBox right -->
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm sản phẩm"
    />
    <select class="form-control product-category" name="" id="">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Đồ điện tử</option>
      <option>Đồ gia dụng</option>
      <option>Bánh kẹo</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/280250/pexels-photo-280250.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Product"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sint
          dicta praesentium quidem iusto maiores totam numquam? Earum
          reprehenderit quasi, sit dicta voluptatem ea blanditiis doloremque
          numquam quo dolore dolorum?
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>23.000.000</del> 20.000.000 VND</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
