<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="login-form mx-auto">
        <h2 class="login-header">Đăng ký</h2>
        <div class="form-group">
          <label for="email">Email/Phone</label>
          <input type="text" class="form-control" id="email" />
          <div class="divider-nospace"></div>
        </div>
        <div class="mt-5"></div>
        <div class="form-group password-field">
          <label for="password">Mật khẩu</label>
          <input type="password" class="form-control" id="password" />
          <i class="password-toggle fas fa-eye-slash"></i>
          <div class="divider-nospace"></div>
        </div>
        <div class="mt-5"></div>

        <div class="form-group password-field">
          <label for="password-confirm">Nhập lại mật khẩu</label>
          <input type="password" class="form-control" id="password-confirm" />
          <i class="password-toggle fas fa-eye-slash"></i>
          <div class="divider-nospace"></div>
        </div>
        <div class="mt-5"></div>

        <div class="form-group">
          <label for="name">Họ và tên</label>
          <input type="text" class="form-control" id="name" />
          <div class="divider-nospace"></div>
        </div>
        <div class="mt-5"></div>

        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <input type="text" class="form-control" id="address" />
          <div class="divider-nospace"></div>
        </div>
        <div class="mt-5"></div>

        <div class="form-group">
          <label for="phone">Số điện thoại</label>
          <input type="text" class="form-control" id="phone" />
          <div class="divider-nospace"></div>
        </div>
        <div class="mt-5"></div>

        <div class="form-group checkbox-text">
          <span style="display: flex">
            <input type="checkbox" class="form-check-input" id="remember" />
            <label for="remember">Tôi đồng ý với các điều khoản</label>
          </span>
        </div>

        <button type="button" class="login-button">Đăng ký</button>
        <div class="divider"></div>
        <div class="bottom-actions">
          <p>Bạn đã đăng ký?</p>
          <span><a href="#" class="register-link">Đăng nhập</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
